<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="2b0fc921-9abf-44f6-9db1-7b356e369229" name="CalculatorSoap12 Test Suite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="2b0fc921-9abf-44f6-9db1-7b356e369229fileName">CalculatorSoap12-Test-Suite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
